{% extends "base.html" %}
{% load static %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "pokemon_app/pokemon_details.css" %}">
    <link rel="stylesheet" href="{% static "pokemon_app/includes/header.css" %}">
{% endblock %}

{% block title %}{{ pokemon_name }}{% endblock %}

{% block content %}
    {% include "includes/header.html" %}
    <div>
        {% comment %} <img src="{% static {{pokemon_image}} %}"> {% endcomment %}
        <h1>{{ pokemon_name }}</h1>
        <h3>{{ pokemon_type }}</h3>
        <h4>{{ pokemon_description }}</h4>
    </div>
{% endblock %}
